name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 0 * * 0'
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 8
            os: windows-latest
          - java: 8
            os: ubuntu-latest
          - java: 21
            os: ubuntu-latest
    steps:
    - run: "git config --global core.autocrlf false"
      shell: bash
    - uses: actions/checkout@v6
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: ${{matrix.java}}
        distribution: adopt
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - shell: bash
      run: sbt
           -v
           "+compile"
           "+test"
    - shell: bash
      name: check scalariform
      run: git diff --exit-code
